/* Previe Styles  */

.main-wrapper {
    position: relative;
    background: #ffffff;
}

.prv-header-area {
    padding: 18px 85px;
    padding-top: 18px;
}

.fullscreen {
    &.empty-div {
        @media #{$md-layout} {
            display: none;
        }
        @media #{$lg-layout} {
            display: none;
        }
    }
}

.with-particles {
    position: relative;
    z-index: 3;
    .frame-layout__particles {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        @media #{$large-mobile} {
            display: none;
        }
    }
    .inner {
        position: relative;
        z-index: 3;
    }
}

.gradient-overlay {
    position: relative;
}

.gradient-overlay::before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    content: "";
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+7,000000+100&0+50,0.5+100 */
    background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0) 7%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0) 7%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 7%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.prv-banner-wrapper {
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    @media #{$sm-layout} {
        min-height: auto;
        position: static;
        padding: 60px 0;
        background-image: none !important;
        background-color: #f6f6f6;
    }
    @media #{$md-layout} {
        min-height: auto;
        position: static;
        padding: 80px 0;
        background-image: none !important;
        background-color: #f6f6f6;
    }
    @media #{$lg-layout} {
        min-height: auto;
        position: static;
        padding: 80px 0;
        background-image: none !important;
        background-color: #f6f6f6;
    }
    @media #{$md-layout} {}
    @media #{$lg-layout} {}
    .inner {
        padding: 35px;
        position: relative;
        z-index: 1;
        @media #{$laptop-device} {
            padding: 35px 0;
        }
        @media #{$sm-layout} {
            padding: 0;
        }
        .logo {
            img {
                max-height: 70px;
            }
        }
        .para-title {
            font-size: 23px;
            color: #515462;
            line-height: 42px;
            margin: 30px 0 50px 0;
            @media #{$laptop-device} {
                font-size: 20px;
                line-height: 36px;
                margin: 24px 0 40px 0;
            }
            @media #{$lg-layout} {
                margin: 20px 0 20px 0;
            }
            @media #{$sm-layout} {
                margin: 20px 0 20px 0;
            }
            @media #{$md-layout} {
                margin: 20px 0 20px 0;
            }
        }
        .purshase-btn {
            margin-left: -15px;
            margin-right: -15px;
            @media #{$laptop-device} {
                margin-left: -10px;
                margin-right: -10px;
            }
            @media #{$sm-layout} {
                margin-left: -5px;
                margin-right: -5px;
            }
            a {
                margin-left: 15px;
                margin-right: 15px;
                @media #{$sm-layout} {
                    margin-left: 5px;
                    margin-right: 5px;
                }
                &.rn-button-style--2 {
                    @media #{$laptop-device} {
                        padding: 10px 25px;
                    }
                    @media #{$sm-layout} {
                        padding: 9px 12px;
                        font-size: 14px;
                    }
                }
                @media #{$laptop-device} {
                    margin-left: 10px;
                    margin-right: 10px;
                }
                &+a {
                    @media #{$small-mobile} {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}


/*---------------------
    Demo Area  
-----------------------*/

.home-demo-area {
    .wrapper {
        @media #{$laptop-device} {
            padding: 0 50px !important;
        }
        @media #{$lg-layout} {
            padding: 0 50px !important;
        }
        @media #{$md-layout} {
            padding: 0 30px !important;
        }
        @media #{$sm-layout} {
            padding: 0 30px !important;
        }
    }
    .section-title {
        &.text-white {
            h2 {
                color: #c6c9d8;
                margin-bottom: 9px;
            }
            p {
                color: #c6c9d8;
                opacity: 0.75;
                font-weight: 300;
            }
        }
    }
}

// Start Single Demo 
.bg_color--7 {
    .single-demo {
        position: relative;
        a {
            >span {
                display: block;
                text-align: center;
                padding: 20px 0;
                color: rgba(255, 255, 255, 0.7);
                font-size: 20px;
                font-weight: 500;
                transition: 0.3s ease-in-out;
                letter-spacing: .20px;
            }
        }
    }
}

.single-demo {
    padding: 0 30px;
    margin: 45px 0;
    @media #{$laptop-device} {
        padding: 0px 15px;
        margin: 30px 0;
    }
    @media #{$md-layout} {
        padding: 0px 15px;
        margin: 30px 0;
    }
    @media #{$sm-layout} {
        padding: 0px 15px;
        margin: 20px 0;
    }
    @media #{$lg-layout} {
        padding: 0px 15px;
    }
    a {
        display: flex;
        flex-direction: column;
        @extend %transition;
        position: relative;
        overflow: hidden;
        border-radius: 6px;
        z-index: 2;
        img {
            box-shadow: 3px 4px 20px 0 rgba(0, 0, 0, 0.1);
            transition: 0.7s cubic-bezier(0.26, 0.76, 0.30, 0.75);
            width: 100% !important;
            border-radius: 6px 6px 0 0;
        }
        .heading-title {
            display: block;
            text-align: center;
            padding: 20px;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            transition: 0.3s ease-in-out;
            letter-spacing: .20px;
            margin: 0;
            background: #000;
            position: relative;
        }
        .info {
            display: block;
            padding: 0;
            color: #1f1f25;
            font-size: 14px;
            font-weight: 300;
            transition: 0.3s ease-in-out;
            line-height: 25px;
            background-color: transparent!important;
        }
        >span {
            &.number {
                display: none;
                position: absolute;
                color: #f6f6f6;
                z-index: -1;
                font-size: 81px;
                bottom: -55px;
                line-height: inherit;
                font-weight: 300;
                letter-spacing: 11px;
            }
        }
        &:hover {
            -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
        }
        .label-new {
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            background: #f81f01;
            background: linear-gradient(145deg, var(--color-primary) 0%, var(--color-secondary) 100%);
            padding: 9px 14px;
            color: #fff;
            border-radius: 4px;
            font-size: 14px;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            font-weight: 500;
        }
    }
}


/*-------------------
Faq Area  
----------------------*/

.pv-feaq-area {
    .accodion-style--1 .accordion__item+.accordion__item {
        margin-top: 20px;
    }
    .accodion-style--1 .accordion__item .accordion__heading .accordion__button {
        font-size: 18px;
        padding: 10px 0;
    }
    .accodion-style--1 .accordion__item .accordion__heading {
        width: 100%;
    }
    .accodion-style--1 .accordion__item .accordion__heading .accordion__button::after {
        width: 100%;
    }
    .accodion-style--1 .accordion__item .accordion__heading .accordion__button::after {
        height: 1px;
    }
}


/*-------------------
    Tab BUtton  
---------------------*/

.tablist-inner {
    display: inline-block;
}

.pv-tab-button {
    display: flex;
    justify-content: center;
    list-style: none;
    background: rgba(255, 26, 80, 0.03);
    min-width: 570px;
    margin: 0 auto;
    border-radius: 6px;
    flex-wrap: wrap;
    padding: 0;
    padding: 0 36px;
    outline: none;
    @media #{$sm-layout} {
        padding: 8px 15px;
        margin: 0 15px;
    }
    @media #{$md-layout} {
        padding: 0 15px;
    }
    @media #{$sm-layout} {
        min-width: auto;
    }
    .label {
        position: relative;
        &::after {
            position: absolute;
            top: 0;
        }
    }
    li,
    button {
        padding: 0 14px;
        color: #101010;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        border: 0 none;
        @media #{$large-mobile} {
            padding: 0 11px;
        }
        span {
            position: relative;
            display: block;
            padding: 20px 0;
            cursor: pointer;
            @media #{$large-mobile} {
                padding: 11px 0;
            }
            &::after {
                position: absolute;
                left: 0;
                background: $theme-color;
                bottom: 0;
                height: 3px;
                content: "";
                @extend %transition;
                width: 0;
            }
        }
        &.is-checked {
            span {
                color: $theme-color;
                &::after {
                    width: 100%;
                }
            }
        }
    }
}


/*-----------------------
Footer Style  
-------------------------*/

.prv-footer {
    .inner {
        h2 {
            &.heading-title {
                color: $heading-color;
                font-size: 60px;
                font-weight: 500;
                margin-bottom: 65px;
            }
        }
    }
}

a {
    &.purchase-btn {
        display: inline-block;
        padding: 0 75px;
        height: 70px;
        line-height: 70px;
        border-radius: 43px;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        transition: 0.4s ease-in-out;
        color: #ffffff;
        background: $heading-color;
        border: 1px solid $heading-color;
        &:hover {
            color: $heading-color;
            border: 1px solid $heading-color;
            background: transparent;
        }
    }
}


/* Feature Area */

.prv-feature {
    .content {
        h3 {
            &.heading-title {
                color: #c6c9d8;
                @media #{$md-layout} {
                    margin-bottom: 13px;
                    font-size: 20px;
                }
                @media #{$sm-layout} {
                    margin-bottom: 13px;
                    font-size: 20px;
                }
            }
        }
        p {
            &.subtitle {
                color: #c6c9d8 !important;
                @media #{$md-layout} {
                    font-size: 16px;
                    line-height: 28px;
                }
                @media #{$laptop-device} {
                    font-size: 16px;
                    line-height: 26px;
                }
                @media #{$sm-layout} {
                    font-size: 16px;
                    line-height: 28px;
                    color: #ffffff;
                }
                @media #{$large-mobile} {
                    color: #ffffff !important;
                }
            }
        }
    }
    .single-service.service__style--4:hover .content p {
        color: #ffffff !important;
    }
}

.text-white-wrapper {
    a {
        &.rn-button-style--2 {
            border: 2px solid #fff;
            color: #fff;
        }
    }
}

.mesonry-list {
    display: flex;
    flex-wrap: wrap;
}


/*--------------------
    Code New  
----------------------*/

.pv-slider-area .slide .inner h1.heading-title {
    font-size: 80px;
    line-height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.pv-slider-area .slide.slide-style-1 .inner {
    padding-top: 50px;
}

.pv-slider-area .slide.slide-style-1::before,
footer.pv-callto-action.call-to-action-wrapper::before {
    display: block;
}

.home-demo-area {
    .pv-tab-button {
        margin-bottom: 20px;
        @media #{$laptop-device} {
            margin-bottom: 10px;
        }
        @media #{$lg-layout} {
            margin-bottom: 10px;
        }
        @media #{$md-layout} {
            margin-bottom: 30px;
        }
        @media #{$sm-layout} {
            margin-bottom: 30px;
        }
    }
}

@media #{$laptop-device} {
    .single-demo a .heading-title {
        padding: 20px 35px;
        font-size: 16px;
    }
}

@media #{$lg-layout} {
    .pv-slider-area .slide.slide-style-1 .inner {
        padding-top: 70px;
    }
}

@media #{$md-layout} {
    .pv-slider-area .slide .inner h1.heading-title {
        font-size: 60px;
        line-height: 75px;
    }
    .pv-slider-area .slide.slide-style-1 .inner {
        padding-top: 70px;
    }
}

@media #{$sm-layout} {
    .pv-slider-area .slide .inner h1.heading-title {
        font-size: 60px;
        line-height: 75px;
    }
    .pv-slider-area .slide.slide-style-1 .inner {
        padding-top: 65px;
    }
}

@media #{$large-mobile} {
    .pv-slider-area .slide .inner h1.heading-title {
        font-size: 37px;
        line-height: 48px;
    }
}

.pv-callto-action {
    .frame-layout__particles {
        display: none;
    }
}

// header
.header-area.header--transparent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 999;
}

.header-area.header--transparent .header-wrapper {
    padding: 30px 0;
}

.header-area .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    flex-wrap: wrap;
}

.header-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.mainmenunav ul.mainmenu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.mainmenunav ul.mainmenu>li {
    margin: 0 15px;
    position: relative;
}

.mainmenunav ul.mainmenu>li:first-child {
    margin-left: 0;
}

.mainmenunav ul.mainmenu>li>a {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0;
    display: inline-block;
}

.header-right .header-btn {
    margin-left: 50px;
}

.mainmenunav ul.mainmenu>li:hover>a {
    color: var(--color-primary);
}