/*--------------------------
    Service Details Styles 
-----------------------------*/

.service-details-inner {
    .page-title {
        padding-left: 105px;
        h2 {
            &.heading-title {
                font-size: 40px;
                line-height: 51px;
                margin-bottom: 14px;
            }
        }
        p {
            font-size: 24px;
            line-height: 30px;
            color: var(--color-gray);
            margin-bottom: 0;
        }
    }
    .sercice-details-content {
        .thumb {
            .video-popup {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50% , -50%);
                border: 0 none;
            }
        }
        .details {
            p {
                color: var(--color-gray);
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 0;
                & + p {
                    margin-top: 30px;
                }
            }
            h4 {
                &.heading-title {
                    font-size: 36px;
                    line-height: 30px;
                    font-weight: 500;
                    margin-top: 40px;
                    margin-bottom: 27px;
                    @media #{$sm-layout} {
                        font-size: 26px;
                        line-height: 38px;
                        margin-top: 26px;
                        margin-bottom: 18px;
                    }
                }
            }
            ul {
                &.liststyle {
                    li {
                        font-size: 18px;
                        line-height: 30px;
                        color: var(--color-gray);
                        position: relative;
                        padding-left: 20px;
                        &::before {
                            position: absolute;
                            content: "";
                            width: 6px;
                            height: 6px;
                            border-radius: 100%;
                            background: var(--color-gray);;
                            left: 0;
                            top: 10px;
                        }
                        & + li {
                            margin-top: 8px;
                        }
                    }
                }
            }

            
        }
    }
}
